@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
}

.code-border{
    background: linear-gradient(111.93deg,rgba(14,26,45,.24) -1.4%,rgba(17,30,50,.38) 104.96%);
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom,#ffffff38,#ffffff00);
}
.code-block1, .code-block2{
    border-radius: 100%;
    filter: blur(34px);
    height: 257.05px;
    left: calc(50% - 263.005px);
    opacity: .2;
    top: calc(50% - 175.995px);
    transform: matrix(1,0,-.03,1,0,0);
    width: 372.95px;
}

.code-block1 {
    background: linear-gradient(123.77deg,#8a2be2 -6.46%,orange 59.04%,#f8f8ff 124.53%)
}

.code-block2{
    background: linear-gradient(118.19deg,#1fa2ff -3.62%,#12d8fa 50.44%,#a6ffcb 104.51%);
}

.bgHome { 
    background-image: url('./assets/Images/bghome.svg');
}


.dropbox::after{
    z-index: 100;
    position: absolute;
    content: 'Under maintance';
    display: none;
    width: 120px;
    height: 200px;
    left: -25px;
    transform: translateY(115px);
    border-radius: 10px;
    background-color: white;
    color: rgb(32, 126, 193);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dropbox:hover::after{
    display: flex;
}

:root{
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow : 0 1px 0 0 rgba(255,255,255,0.5);
}

.form-shadow{
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}